<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>    </h1>
                    <h1>    </h1>
                    <h1>    </h1>
                    <h1>    </h1>
                </div>
                <div class="section_title text-center">
                    <h1>FREQUENTLY ASKED QUESTIONS</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>    </h1>
                    <h1>    </h1>
                    <h3>1. What Is APteaches.com?</h3>
                    <h3>It Is A Dedicated Site Of The Hi Tech Institute APteaches, The Institute Of International Standards, For Our Global Students Spread Over The Different Parts Of The Universe, Committed To The Social Cause Of Simplifying The Education & Making It Available With Ease.</h3>
                    <h1>    </h1>
                    <h3>2. How Your Educational Programme Is Unique & Different?</h3>    
                    <h3>It Touches The Real Nerve Of The Type Of Questions Asked In IIT-JEE, NEET, CBSE-AIPMT & Other National Competitions. Our Booklet Of Questions, With Highly Assorted Advanced Factual Synopsis, Provides The Real Touch & Ignites The Passion To Get In The Right Mode & Simulation For These Highly Competitive National Level Exams, Which Is Backed By Our Test-Series & Focus The National.</h3>  
                    <h1>    </h1>
                    <h3>3. What Courses Are Available?</h3>  
                    <h3>A). Study Material</h3>  
                    <h3>Cluster Of Experts In Every Subject Is Working Round The Clock To Improvise & Prepare An Error Free Up-To-Date Study Material By Simplifying The Facts.</h3>  
                    <h3>B). Question Bank -: Titled "The Real Touch"</h3>  
                    <h3>Containing Assorted, Error-Free & Advanced Facts In Synopsis Form & Question Which Gives You A Real Feel Of The Examination By Igniting Your Passion To Succeed. This Will Work As A Reference Material For Further Preparation.</h3>  
                    <h3>C). Test-Series</h3>  
                    <h3>A Mega Programme To Give You A Real Insight About These Examinations.</h3>  
                    <h3>D). Focus The National</h3>  
                    <h3>This Is Our Special Programme With The Slogan "Be Focused To Be In Focus". This Is The Crux Of Everything We Do. And A Rank In The Focus Enhances The Reputation Of The Student Among His Competitors & Increases The Consciousness Of Other Players In The Field Towards Him</h3>  
                    <h1>    </h1>
                    <h3>4. What Is The Cost Of Your Courses?</h3>  
                    <h3>It Is Our Social Effort There Is No Profit Motive. Our Aim Is Just To Provide Quality Education & Work Towards Making It A Fundamental Right.</h3>  
                    <h1>    </h1>
                    <h3>5. In What Form It Will Be Available?</h3>  
                    <h3>A). Through Correspondence.</h3>  
                    <h3>B). On-Line On APteaches.Com.</h3>  
                    <h1>    </h1>
                    <h3>6. Who Are Behind This Programme?</h3> 
                    <h3>It Is The Culmination Of Our Research On The Needs Of The Students In Search Of Simplified, Error Free & To The Point Study Package With Real Problems & The Experience Of Our MD Abhishek Pathak, Who Has Been A Constant Source Of Inspiration For Our Team.</h3> 
                    <h1>    </h1>
                    <h3>7. How Will We Be Able To Clear Our Queries And Doubts?</h3> 
                    <h3>The Unique & New Concept In Our Education Programme Is Arrangement Of Special Interaction Camps For Our Distant Students. Though They Are Free To Ask Any Query Through Correspondence Or Online, Which Will Be Looked Into Very Promptly. At These Camps:</h3> 
                    <h3>1). Question Tackling & Solving Tips Will Be Discussed.</h3> 
                    <h3>2). Tests Will Be Arranged.</h3> 
                    <h3>3). Followed By Exhaustive Doubt Clearing Session & Interaction Hour Programme.</h3> 
                    <h3>Our Correspondence Course Students Will Be Eligible To Clear Queries Online Also & Our On-Line Students Can Also Ask Question Through Post, Both Can Communicate Both Ways. </h3> 
                    <h1>    </h1>
                    <h3>8. Tell Us Something About Your School Education Programme?</h3> 
                    <h3>Basic Nurturing Can Be Provided Only At School Level, Both At Secondary & Higher Secondary. Primary Foundation & The Right Kind Of Competitive Aptitude Can Be Developed At The School Level Itself. Value-Based Education Can Be Provided From That Level Itself, Which Will Contribute Towards Making Responsible Citizens & Betterment Of The Society.</h3>
                    <h3>Our School Education Programme Will Be Concept Based & Practical In Approach, Which Will Develop The Right Kind Of Scientific Temper In The Upcoming Global Generation.</h3> 
                   
                </div>
            </div>
        </div>
    </div>  
</div> 

