<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(assets/images/teachers_background.jpg)"></div>
    </div>
    <div class="home_content">
        <h1>Teachers</h1>
    </div>
</div>

<!-- Teachers -->

<div class="teachers page_section">
    <div class="container">
        <div class="row">
            
            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="assets/images/teacher_01.jpg" alt="https://unsplash.com/@michaeldam">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Kartik Jain</a></div>
                        <div class="card-text">Maths Faculty</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="https://www.instagram.com/kartik0295/"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="https://www.facebook.com/profile.php?id=100007679805944"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="assets/images/teacher_02.jpg" alt="https://unsplash.com/@jcpeacock">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Shubham Verma</a></div>
                        <div class="card-text">Chemistry Faculty</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="https://www.instagram.com/winds_in_the_ocean/"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="https://www.facebook.com/shubhamkrish.verma.9"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="assets/images/teacher_03.jpg" alt="https://unsplash.com/photos/n8jeOSxCRfQ">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Ajay Singh</a></div>
                        <div class="card-text">Physics (Electrostatics) Faculty</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="https://www.instagram.com/ajay_singh_509/"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="https://www.facebook.com/Ajayjwjw"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="assets/images/teacher_04.jpg" alt="https://unsplash.com/@seteales">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Prathamesh U</a></div>
                        <div class="card-text">Physics(Mechanics) Faculty</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="assets/images/teacher_06.jpg" alt="https://unsplash.com/@mehdizadeh">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Vasundra Sharma</a></div>
                        <div class="card-text">Philosophy Faculty</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="assets/images/teacher_05.jpg" alt="https://unsplash.com/@jaredsluyter">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Ayush Soni</a></div>
                        <div class="card-text">Bio Faculty</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Milestones -->

<div class="milestones">
    <div class="milestones_background" style="background-image:url(assets/images/milestones_background.jpg)"></div>

    <div class="container">
        <div class="row">
            
            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_1.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                    <div class="milestone_counter" data-end-value="750">0</div>
                    <div class="milestone_text">Current Students</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_2.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                    <div class="milestone_counter" data-end-value="12">0</div>
                    <div class="milestone_text">Certified Teachers</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_3.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                    <div class="milestone_counter" data-end-value="6">0</div>
                    <div class="milestone_text">Approved Courses</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_4.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                    <div class="milestone_counter" data-end-value="4" data-sign-before="+">0</div>
                    <div class="milestone_text">Batches</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Become -->

<div class="become">
    <div class="container">
        <div class="row row-eq-height">

            <div class="col-lg-6 order-2 order-lg-1">
                <div class="become_title">
                    <h1>Become a teacher</h1>
                </div>
                <p class="become_text">Anyone who is passionate about teaching can become an educator at APteaches. You have to prepare a demo lecture on any topic in your area of specialization. If your lecture is approved you can become an educator at ATteaches.
                </p>
                <div class="become_button text-center trans_200">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2">
                <div class="become_image">
                    <img src="assets/images/become.jpg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>