<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(assets/images/courses_background.jpg)"></div>
    </div>
    <div class="home_content">
        <h1>Courses</h1>
    </div>
</div>

<!-- Popular -->

<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Popular Courses</h1>
                </div>
            </div>
        </div>

        <div class="row course_boxes">
            
<!-- Popular Course Item -->
<div class="col-lg-4 course_box">
    <div class="card">
        <img class="card-img-top" src="assets/images/course_01.jpg" alt="https://unsplash.com/@dsmacinnes">
        <div class="card-body text-center">
            <div class="card-title"><a href="courses.html">CLASS 5th to 8th COMPLETE COURSE</a></div>
            <div class="card-text">School Syllabus, ncert,Olympiad,Pre-Foundation etc...</div>
        </div>
        <!-- <div class="price_box d-flex flex-row align-items-center">
            <div class="course_author_image">
                <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
            </div>
            <div class="course_author_name">Michael Smith, <span>Author</span></div>
            <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
        </div> -->
    </div>
</div>

             <!-- Popular Course Item -->
             <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_02.jpg" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 9th & 10th SCHOOL SYLLABUS</a></div>
                        <div class="card-text">School Syllabus, ncert etc...</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_03.jpg" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 9th & 10th FOUNDATION COURSE</a></div>
                        <div class="card-text">Olympiad,Foundation etc...</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_04.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 11th COMPLETE COURSE</a></div>
                        <div class="card-text">IIT-JEE & Other Competitive Exams</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>
              <!-- Popular Course Item -->
              <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_05.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 12th COMPLETE COURSE</a></div>
                        <div class="card-text">IIT-JEE & Other Competitive Exams</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

               <!-- Popular Course Item -->
               <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_06.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">DROPPERS BATCH</a></div>
                        <div class="card-text">IIT-JEE & Other Competitive Exams</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>		
</div>
