<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(assets/images/contact_background.jpg)"></div>
    </div>
    <div class="home_content">
        <h1>About us</h1>
    </div>     
</div>
<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>VISION</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h3>To prepare the aspirants for each stage of the exam by developing sound academic base with quality teaching, individual attention and develop competitive attitude amongst them.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>VALUES</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h3>Leadership with human touch at various levels.
                        Integrity, Transparency and openness in all our actions.
                        Innovation and pursuit of excellence in career education.
                        Address the needs of the students through career orriented initiatives.
                        Strive to continuously improve our processes and quality of deliverables.</h3>
                </div>
            </div>
        </div>
    </div>  
</div> 