<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(assets/images/news_background.jpg)"></div>
    </div>
    <div class="home_content">
        <h1>The News</h1>
    </div>
</div>

<!-- News -->

<div class="news">
    <div class="container">
        <div class="row">
            
            <!-- News Column -->

            <div class="col-lg-8">
                
                <div class="news_posts">
                    <!-- News Post -->
                    <div class="news_post">
                        <div class="news_post_image">
                            <img src="assets/images/Elibrary_01.jpg" alt="https://unsplash.com/@dsmacinnes">
                        </div>
                        <div class="news_post_top d-flex flex-column flex-sm-row">
                            <div class="news_post_date_container">
                                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div>21</div>
                                    <div>may</div>
                                </div>
                            </div>
                            <div class="news_post_title_container">
                                <div class="news_post_title">
                                    <a href="news_post.html">APteaches to implement E-Library</a>
                                </div>
                                <div class="news_post_meta">
                                    <span class="news_post_author"><a href="#">By Rohil Pathak</a></span>
                                    <span>|</span>
                                    <span class="news_post_comments"><a href="#">3 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="news_post_text">
                            <p>Recognising the changing context of scientific education in the era of globalization, Vision Infinity Ltd. has developed modules in exploration and application of scientific advancements.In a bold departure from conventional learning, our next generation e-library with DVDs of lecturers and interactive solutions of relevant concept based questions in an unlimited knowledge wealth.</p>
                        </div>
                        <div class="news_post_button text-center trans_200">
                            <a href="news_post.html">Read More</a>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post">
                        <div class="news_post_image">
                            <img src="assets/images/digipay_01.jpg" alt="https://unsplash.com/@dsmacinnes">
                        </div>
                        <div class="news_post_top d-flex flex-column flex-sm-row">
                            <div class="news_post_date_container">
                                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div>09</div>
                                    <div>jun</div>
                                </div>
                            </div>
                            <div class="news_post_title_container">
                                <div class="news_post_title">
                                    <a href="news_post.html">Payment options to be completely digital.</a>
                                </div>
                                <div class="news_post_meta">
                                    <span class="news_post_author"><a href="#">By Rohil Pathak</a></span>
                                    <span>|</span>
                                    <span class="news_post_comments"><a href="#">2 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="news_post_text">
                            <p>Keeping the current scenario into consideration, We have decided to switch to digital payment options for all the transactions.so from now onwards you can use the following payment options for paying fees: Gpay, Phonepe, Paytm.</p>
                        </div>
                        <div class="news_post_button text-center trans_200">
                            <a href="news_post.html">Read More</a>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post">
                        <div class="news_post_image">
                            <img src="assets/images/feewaive_02.jpg" alt="https://unsplash.com/@dsmacinnes">
                        </div>
                        <div class="news_post_top d-flex flex-column flex-sm-row">
                            <div class="news_post_date_container">
                                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                                    <div>11</div>
                                    <div>jun</div>
                                </div>
                            </div>
                            <div class="news_post_title_container">
                                <div class="news_post_title">
                                    <a href="news_post.html">Fee waiver scholarship test.</a>
                                </div>
                                <div class="news_post_meta">
                                    <span class="news_post_author"><a href="#">By Abhishek Pathak</a></span>
                                    <span>|</span>
                                    <span class="news_post_comments"><a href="#">7 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="news_post_text">
                            <p>This scholarship test is curated by India's top faculty and is prepared based on the actual exam pattern with in-depth reports and analysis. 
                                This exam entitles you to win scholarship of up to 100% fee waiver.</p>
                        </div>
                        <div class="news_post_button text-center trans_200">
                            <a href="news_post.html">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Page Nav -->

                <div class="news_page_nav">
                    <ul>
                        <li class="active text-center trans_200"><a href="#">01</a></li>
                        <li class="text-center trans_200"><a href="#">02</a></li>
                        <li class="text-center trans_200"><a href="#">03</a></li>
                    </ul>
                </div>

            </div>

            <!-- Sidebar Column -->

            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Archives -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">
                            <h3>Archives</h3>
                        </div>
                        <ul class="sidebar_list">
                            <li class="sidebar_list_item"><a href="#">About Our iNSTITUTE</a></li>
                            <li class="sidebar_list_item"><a href="#">All you need to know</a></li>
                            <li class="sidebar_list_item"><a href="#">Fee structure</a></li>
                            <li class="sidebar_list_item"><a href="#">Career Guide</a></li>
                            <li class="sidebar_list_item"><a href="#">Choose the right course</a></li>
                        </ul>
                    </div>

                    <!-- Latest Posts -->

                    <div class="sidebar_section">
                        <div class="sidebar_section_title">
                            <h3>Latest posts</h3>
                        </div>
                        
                        <div class="latest_posts">
                            
                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image">
                                    <img src="assets/images/Elibrary_01.jpg" alt="https://unsplash.com/@dsmacinnes">
                                </div>
                                <div class="latest_post_title"><a href="news_post.html">APteaches to implement E-Library</a></div>
                                <div class="latest_post_meta">
                                    <span class="latest_post_author"><a href="#">By Rohil Pathak</a></span>
                                    <span>|</span>
                                    <span class="latest_post_comments"><a href="#">3 Comments</a></span>
                                </div>
                            </div>

                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image">
                                    <img src="assets/images/digipay_01.jpg" alt="https://unsplash.com/@erothermel">
                                </div>
                                <div class="latest_post_title"><a href="news_post.html">Payment options to be completely digital.</a></div>
                                <div class="latest_post_meta">
                                    <span class="latest_post_author"><a href="#">By Rohil Pathak</a></span>
                                    <span>|</span>
                                    <span class="latest_post_comments"><a href="#">2 Comments</a></span>
                                </div>
                            </div>

                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image">
                                    <img src="assets/images/feewaive_02.jpg" alt="https://unsplash.com/@element5digital">
                                </div>
                                <div class="latest_post_title"><a href="news_post.html">Why do you need a qualification?</a></div>
                                <div class="latest_post_meta">
                                    <span class="latest_post_author"><a href="#">By Christian Smith</a></span>
                                    <span>|</span>
                                    <span class="latest_post_comments"><a href="#">3 Comments</a></span>
                                </div>
                            </div>
                            
                        </div>
                            
                    </div>

                    <!-- Tags -->

                    <div class="sidebar_section">
                        <div class="sidebar_section_title">
                            <h3>Tags</h3>
                        </div>
                        <div class="tags d-flex flex-row flex-wrap">
                            <div class="tag"><a href="#">Course</a></div>
                            <div class="tag"><a href="#">PCM</a></div>
                            <div class="tag"><a href="faq">FAQ</a></div>
                            <div class="tag"><a href="teachers">Teachers</a></div>
                            <div class="tag"><a href="#">School</a></div>
                            <div class="tag"><a href="#">Material</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
