<div class="home">

    <!-- Hero Slider -->
    <div class="hero_slider_container">
        <div class="hero_slider owl-carousel">
            
            <!-- Hero Slide -->
            <div class="hero_slide">
                <div class="hero_slide_background" style="background-image:url(assets/images/slider_background.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">LEARN</h1>
                    </div>
                </div>
            </div>
            
            <!-- Hero Slide -->
            <div class="hero_slide">
                <div class="hero_slide_background" style="background-image:url(assets/images/pile_of_book.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">EXPLORE</h1>
                    </div>
                </div>
            </div>
            
            <!-- Hero Slide -->
            <div class="hero_slide">
                <div class="hero_slide_background" style="background-image:url(assets/images/slider_background.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">ELEVATE</h1>
                    </div>
                </div>
            </div>

        </div>

        <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
        <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>
    </div>

</div>

<div class="hero_boxes">
    <div class="hero_boxes_inner">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/images/earth-globe.svg" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Online Courses</h2>
                            <a href="courses" class="hero_box_link">view more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/images/books.svg" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Our Library</h2>
                            <a href="courses" class="hero_box_link">view more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/images/professor.svg" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Our Teachers</h2>
                            <a href="teachers" class="hero_box_link">view more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Popular -->

<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Popular Courses</h1>
                </div>
            </div>
        </div>

        <div class="row course_boxes">
            
          <!-- Popular Course Item -->
<div class="col-lg-4 course_box">
    <div class="card">
        <img class="card-img-top" src="assets/images/course_01.jpg" alt="https://unsplash.com/@dsmacinnes">
        <div class="card-body text-center">
            <div class="card-title"><a href="courses.html">CLASS 5th to 8th COMPLETE COURSE</a></div>
            <div class="card-text">School Syllabus, ncert,Olympiad,Pre-Foundation etc...</div>
        </div>
        <!-- <div class="price_box d-flex flex-row align-items-center">
            <div class="course_author_image">
                <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
            </div>
            <div class="course_author_name">Michael Smith, <span>Author</span></div>
            <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
        </div> -->
    </div>
</div>

             <!-- Popular Course Item -->
             <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_02.jpg" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 9th & 10th SCHOOL SYLLABUS</a></div>
                        <div class="card-text">School Syllabus, ncert etc...</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_03.jpg" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 9th & 10th FOUNDATION COURSE</a></div>
                        <div class="card-text">Olympiad,Foundation etc...</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_04.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 11th COMPLETE COURSE</a></div>
                        <div class="card-text">IIT-JEE & Other Competitive Exams</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>
              <!-- Popular Course Item -->
              <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_05.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">CLASS 12th COMPLETE COURSE</a></div>
                        <div class="card-text">IIT-JEE & Other Competitive Exams</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>

               <!-- Popular Course Item -->
               <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_06.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">DROPPERS BATCH</a></div>
                        <div class="card-text">IIT-JEE & Other Competitive Exams</div>
                    </div>
                    <!-- <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>		
</div>

<!-- Register -->

<div class="register">

    <div class="container-fluid">
        
        <div class="row row-eq-height">
            <div class="col-lg-6 nopadding">
                
                <!-- Register -->

                <div class="register_section d-flex flex-column align-items-center justify-content-center">
                    <div class="register_content text-center">
                        <h1 class="register_title">Register now and get <span>50%</span> discount.</h1>
                        <p class="register_text">Register now for any of the batches and get upto 50% off on the total fee. This discount can be claimed by all students only for a specified period for the upcoming courses. For more details, kindly contact the office during working hours.</p>
                        <div class="button button_1 register_button mx-auto trans_200"><a href="#">register now</a></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 nopadding">
                
                <!-- Search -->

                <div class="search_section d-flex flex-column align-items-center justify-content-center">
                    <div class="search_background" style="background-image:url(images/search_background.jpg);"></div>
                    <div class="search_content text-center">
                        <h1 class="search_title">Search for your course</h1>
                        <form id="search_form" class="search_form" action="post">
                            <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Course Name" required="required" data-error="Course name is required.">
                            <input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Category">
                            <input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Degree">
                            <button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">search course</button>
                        </form>
                    </div> 
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Services -->

<div class="services page_section">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>

        <div class="row services_row">

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/earth-globe.svg" alt="">
                </div>
                <h3>Online Courses</h3>
                <p>Join Thousands of Learners From Around The World Already Learning On APteaches! Find the right instructor for you. Any topic, skill level.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/exam.svg" alt="">
                </div>
                <h3>Indoor Courses</h3>
                <p>Enroll for the current online Batches and get a great way to build an indoor obstacle course, which can keep children occupied for hours.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/books.svg" alt="">
                </div>
                <h3>Amazing Library</h3>
                <p>We provide online video library, it includes Videos that help you visualize each concept, making it easier to understand. Clearer concepts lead to higher scores!</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/professor.svg" alt="">
                </div>
                <h3>Exceptional Professors</h3>
                <p>To prepare well for national competitions the students require a highly positive and competitive environment that makes the students efficient, hard working and quick responding.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/blackboard.svg" alt="">
                </div>
                <h3>Top Programs</h3>
                <p>Our programme feeds the students in an unique way through classroom Teaching, Assignment sessions, CDs e-library . The revision with test series puts their preparation on a high- pitch which ultimately brings them up to high success.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/books.svg" alt="">
                </div>
                <h3>Excellent Material</h3>
                <p>An assured & stable path of continuous growth and development, through our various modules, that equips the brain for holistic development & utilization of both the hemispheres right & left simultaneously, to develop razor-sharp intellect. We offer stability, long-term viability and multi-dimensional growth opportunities.</p>
            </div>

        </div>
    </div>
</div>

<!-- Testimonials -->

<div class="testimonials page_section">
    <!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
    <div class="testimonials_background_container prlx_parent">
        <div class="testimonials_background prlx" style="background-image:url(images/testimonials_background.jpg)"></div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>What our students say</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                
                <div class="testimonials_slider_container">

                    <!-- Testimonials Slider -->
                    <div class="owl-carousel owl-theme testimonials_slider">
                        
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">Strict Timetable is one good thing. Teachers try to personally take doubt sessions. Streaming quality is good. Well we paid. Online tests scale up self realisation. Each student have a To-Do list for a week which are designed by the teachers and it helps a lot.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student01.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Lekha Kande</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>

                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">This course is very useful for the academicians. It covers various approaches to solve a problem, collaborative activities of students, assessment, and feedback, which will definitely enhance the quality of teaching as well as students' learning .I would highly recommend these Classes to anyone who want to learn PCM online.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student02.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Vasundra sharma </div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                         <!-- Testimonials Item -->
                         <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">I am very grateful to learn this from these online classes. I have been learning in many platform, and I think this course is so well-crafted that it covers so many key points and still allows us the students to learn in ease. Thanks for the opportunity and the experience as well.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student03.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Mayank Bhatt</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">I really enjoyed the course, the practical that you have implement really enhances your teaching and student's learning experience. Recommend this course to anyone that needs to engage in online learning.This class had some great ideas. Overall The course was interesting. I learned a lot of new things and developed better understanding. Thank you!.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student04.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Ritu Mishra</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                         <!-- Testimonials Item -->
                         <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">To be honest.. I’ve never seen an educational page like this. Very informative and very interactive. Kudos!</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student05.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Abhineet Awadhiya</div>
                                    <div class="testimonial_title">Junion Engineer</div>
                                </div>
                            </div>
                        </div>

                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">Fun course with enthusiastic tutors. The interactivity is great and a sense of community among the participants grew over the 3 weeks.I learnt a lot and saw some really practical but interesting ideas for using the apps that we met</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student06.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Komal Jadhav</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>

                         <!-- Testimonials Item -->
                         <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">APteaches gives personal attention to students who ask doubts. Moreover updating entrance questions each week is extremely useful for interested students!</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student07.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Mragank Yadav</div>
                                    <div class="testimonial_title">Assistent system engineera</div>
                                </div>
                            </div>
                        </div>
                         <!-- Testimonials Item -->
                         <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">ATteaches lights up the curiosity in every student hidden inside. It not only sees students’ knowledge but his/ her curiosity to learn more, the effort he/ she makes, and the active participation in the questions.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student08.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Diksha Chandra</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">I have been to many online educational platforms but APteaches make it easier and simple for me to learn online. The way they teach is great and effective with their video lessons and contextual rather than theories The best part is that they provide live classes and a lot of practice for their students.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student09.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Akash Tripathi</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">I use this platform to solve my math and science problems.We can use it for many exams like board exam, IIT, JEE, medical and many more . It has very good meterial for children . They can understand many things in a easy way that they can not do in classroom.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student10.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Jagrati Moolchandani</div>
                                    <div class="testimonial_title">Sub Engineer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">APteaches is a very useful platform for study .I really appreciate the efforts they make to make things clear to students.Customer service is very corresponding to us. After all this is truely studymate app for learners.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student11.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Vinay Pal Patel</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">Learning form ATteaches makes easier to understand concept very much . We can make our learning more interesting than our pervious way of learn</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student12.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Rohit Sharma</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">APteaches has helped children and students for their study in a good way. Nowadays children are more often sticked to cell phones and these classes really helps good use of phones with easy tutorials and creative way of learning
                                </p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student13.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Ikshanshu Raj</div>
                                    <div class="testimonial_title">AE</div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonials Item -->
                        <div class="owl-item">
                            <div class="testimonials_item text-center">
                                <div class="quote">“</div>
                                <p class="testimonials_text">This is the best online platform for learning.on this platform the mentors are very friendly with us and they teach all things with great excitement and I enjoy to learn from these online classes.</p>
                                <div class="testimonial_user">
                                    <div class="testimonial_image mx-auto">
                                        <img src="assets/images/student14.jpg" alt="">
                                    </div>
                                    <div class="testimonial_name">Syed Mudassir</div>
                                    <div class="testimonial_title">Assistent system engineer</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Events -->

<div class="events page_section">
    <div class="container">
        
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Upcoming Events</h1>
                </div>
            </div>
        </div>
        
        <div class="event_items">

            <!-- Event Item -->
            <div class="row event_item">
                <div class="col">
                    <div class="row d-flex flex-row align-items-end">

                        <div class="col-lg-2 order-lg-1 order-2">
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">07</div>
                                <div class="event_month">July</div>
                            </div>
                        </div>

                        <div class="col-lg-6 order-lg-2 order-3">
                            <div class="event_content">
                                <div class="event_name"><a class="trans_200" href="#">Student Festival</a></div>
                                <div class="event_location">Bharat Bhawan, Bhopal</div>
                                <p>We are going to celebrate the success of our students. Many Alumni  will be participating in the event and will guide amd motivate the students.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 order-lg-3 order-1">
                            <div class="event_image">
                                <img src="assets/images/event_1.jpg" alt="https://unsplash.com/@theunsteady5">
                            </div>
                        </div>

                    </div>	
                </div>
            </div>

            <!-- Event Item -->
            <div class="row event_item">
                <div class="col">
                    <div class="row d-flex flex-row align-items-end">

                        <div class="col-lg-2 order-lg-1 order-2">
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">27</div>
                                <div class="event_month">August</div>
                            </div>
                        </div>

                        <div class="col-lg-6 order-lg-2 order-3">
                            <div class="event_content">
                                <div class="event_name"><a class="trans_200" href="#">Career Counselling</a></div>
                                <div class="event_location">Webex Session</div>
                                <p>A live career counselling event will be conducted for the students to make things clear for them so that they can think clearly in a single direction and excell their performance.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 order-lg-3 order-1">
                            <div class="event_image">
                                <img src="assets/images/event_03.jpg" alt="https://unsplash.com/@claybanks1989">
                            </div>
                        </div>

                    </div>	
                </div>
            </div>

            <!-- Event Item -->
            <div class="row event_item">
                <div class="col">
                    <div class="row d-flex flex-row align-items-end">

                        <div class="col-lg-2 order-lg-1 order-2">
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">15</div>
                                <div class="event_month">September</div>
                            </div>
                        </div>

                        <div class="col-lg-6 order-lg-2 order-3">
                            <div class="event_content">
                                <div class="event_name"><a class="trans_200" href="#">Live Parents-Teacher meeting </a></div>
                                <div class="event_location">Webex Meeting</div>
                                <p>A live Webex parents-teecher meeting will be organised to discuss the performance of students.This will help parents to digitally connect with the faculties, and keep forward their respective concerns.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 order-lg-3 order-1">
                            <div class="event_image">
                                <img src="assets/images/event_02.jpg" alt="https://unsplash.com/@juanmramosjr">
                            </div>
                        </div>

                    </div>	
                </div>
            </div>

        </div>
            
    </div>
</div>
